---
import Layout from '../components/Layout.astro';
import Sentence from '../components/sentence';

---

<Layout title="Quem é Paulo Raimundo">
    <section id="content" class="z-1 min-h-screen bg-[#A71D0C] flex flex-col text-white py-20 bg-paulinho bg-contain bg-no-repeat	bg-bottom">
      <div class="grid grid-cols-1 text-center">
        <header class="text-center">
          <h1>Quem é o Paulo Raimundo?</h1>
        </header>
        <main>
          <p>Ainda não sabemos! Temos os nossos espiões Bernadino Soares, João Ferreira e João Oliveira à procura.</p>
          <Sentence client:load />
          <p>Mas volta mais tarde, as informações vão chegando...</p>
        </main>
      </div>
    </section>
</Layout>

<style>
  p {
    @apply py-4
  }
</style>